<section class="container product-list-container">
  <header>
    <h1 class="page-title">Products</h1>
    <p class="page-description">Manage and view all your products</p>
  </header>

  <main>
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search products by name or category..."
      (input)="onSearch()"
      class="form-input search-bar"
    />

    <div class="product-table-container">
      <table *ngIf="products.length > 0" class="products-table">
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Category</th>
          <th>Quantity</th>
          <th>Unit Price</th>
          <th>Total</th>
          <th>Create Date</th>
          <th class="action-column">Actions</th>
        </tr>

        <tr
          *ngFor="
            let product of products
              | paginate
                : { itemsPerPage: itemsPerPage, currentPage: currentPage }
          "
        >
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.category }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ formatCurrency(product.price) }}</td>
          <td>{{ formatCurrency(product.price * product.quantity) }}</td>
          <td>{{ formatDate(product.createDate) }}</td>
          <td>
            <div class="icon-group">
              <div class="icon-outlined">
                <i class="ri-pencil-line"></i>
              </div>

              <div class="icon-outlined">
                <i class="ri-delete-bin-6-line"></i>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <th>Total Price</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{ formatCurrency(totalPrice) }}</td>
        </tr>
      </table>
    </div>

    <div class="pagination">
      <pagination-controls
        (pageChange)="currentPage = $event"
        [maxSize]="5"
        [directionLinks]="true"
        [autoHide]="true"
      ></pagination-controls>
    </div>

    <div *ngIf="products.length === 0">
      <p>No products available.</p>
    </div>
  </main>
</section>
