<input
  type="text"
  [(ngModel)]="searchQuery"
  placeholder="Search products.."
  (input)="onSearch()"
/>

<div *ngIf="products.length > 0">
  <div *ngFor="let product of products">
    <p>{{ product.name }}</p>
    <p>{{ product.description }}</p>
    <p>{{ product.category }}</p>
    <p>{{ product.quantity }}</p>
    <p>{{ formatCurrency(product.price) }}</p>
    <p>{{ formatDate(product.createDate) }}</p>
  </div>

  <p>
    TotalPrice:
    {{ formatCurrency(totalPrice) }}
  </p>
</div>
<div *ngIf="products.length === 0">
  <p>No products available.</p>
</div>
