:root {
  --clr-bg: #eeeeee;
  --clr-bg-dark: #d6d6d6;

  --clr-accent: #3b4be6;
  --clr-accent-dark: #3544cf;
  --clr-accent-darker: #2935a1;
  --clr-accent-light: #7681ee;
  --clr-accent-lighter: #ebedfd;

  --clr-error: #ee6055;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1 {
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

button:not(:disabled) {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.page-title {
  font-weight: 700;
  font-size: 18px;
}

.page-description {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.label-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.25em;
}

.form-label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
}

.form-input {
  font-size: 12px;
  padding: 0.5em 0.8em;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition-property: border, background-color;
  transition-duration: 200ms;
}

.form-input:focus {
  border: 1px solid var(--clr-accent);
  background-color: var(--clr-accent-lighter);
}

.form-input-error {
  color: var(--clr-error);
  font-size: 12px;
}

.btn-fill,
.btn-outlined {
  border: none;
  padding: 0.5em 1em;
  border-radius: 50px;
  transition-property: background-color, color, border;
  transition-duration: 150ms;
}

.btn-fill:not(:disabled) {
  background-color: var(--clr-accent);
  color: #fff;
}

.btn-fill:not(:disabled):hover {
  background-color: var(--clr-accent-dark);
}

.btn-fill:not(:disabled):active {
  background-color: var(--clr-accent-darker);
}

.btn-fill:disabled {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
}

.btn-outlined {
  background-color: #fff;
  color: var(--clr-accent);
  font-weight: 600;
  border: 1px solid var(--clr-accent);
}

.btn-outlined:hover {
  background-color: var(--clr-accent-lighter);
}

@media screen and (min-width: 640px) {
  .container {
    width: 80%;
  }

  .page-title {
    font-size: 20px;
  }

  .page-description {
    font-size: 12px;
  }

  .label-input-container {
    gap: 0.5em;
  }

  .form-label,
  .form-input {
    font-size: 14px;
  }

  .form-input-error {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 24px;
  }

  .page-description {
    font-size: 14px;
  }
}

@media screen and (min-width: 1024px) {
}
